// .spreadtheword {
//   h1, h2, h3 {
//     clear: both;
//   }

#orderpromo #langprefs .checkbox {
    margin-top: -5px;
}

#orderpromo .preflabel {
    margin: 5px 0 15px;
}

#orderpromo input[type=radio], #orderpromo #defaultorder, #orderpromo #customorder, #orderpromo #customdonation {
    display: none;
}

#orderpromo input[type=radio]:checked + label, #orderpromo .btn-default:hover {
    color: #3394CE;
    background-color: #fff;
    border-color: #3394CE;
}

#orderpromo #default:checked ~ #defaultorder, #orderpromo #custom:checked ~ #customorder, #orderpromo #otherdonate:checked ~ #customdonation {
    display: inline-block;
    vertical-align: middle;
}

#orderpromo p.packageselect {
    margin-top: 10px;
}

#orderpromo input[type=submit] {
    .btn-lg;
}
